fastapi==0.115.0
uvicorn==0.30.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
bcrypt==4.2.0
python-multipart==0.0.12
pillow==10.4.0
fpdf2==2.7.9
aiofiles==23.2.1
cloudinary==1.41.0
resend==2.4.0
slowapi==0.1.9
mercadopago==2.2.1
